.App {
  text-align: center;
  color: red;
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
} 

.leftColumn {
  float: left;
  width: 33%;
}

.middleColumn {
  float: left;
  width: 10%;
}

.rightColumn {
  float: left;
  width: 57%;
}

.CenterButton {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  color: black;
  font-size: 30vh;
  border: none; 
}

.StartStop {
  width: 50vh;
  height: 20vh;
  border-radius: 5%;
  color: red;
  font-size: 10vh;
  cursor: pointer;
  border: none; 
}

.timeSignatures {
  height: 10vh;
}

.data {
  color: red;
}